<%=  render 'layouts/navigation'%>
<div class="wrapper">
  <div class="header header-filter" style="background-image: url('<%= image_path("material_kit/bg2.jpg") %>');"></div>
	<div class="main main-raised">
		<div class="section section-basic">
	    <div class="container">
	      <h1 align = center>Create User</h1>
        <%= render 'shared/errors' , obj: @category%>
        <div class="row">
          <div class="col-xs-12">
            <%= form_for(@category, :html => {class: 'form-horizontal', role: 'form' }) do |f| %>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :name %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :name , class:"form-control" , placeholder: "Category Name", autofocus: true%> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit class:'btn btn-primary btn-large'%>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
             [ <%= link_to "Cancel request and return to articles" , categories_path%> ]
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%=  render 'layouts/footer'%>