<!-- Navbar Info -->
					<nav class="navbar navbar-info navbar-fixed-top">
						<div class="container ">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-info">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="<%=root_path%>">SOMALI</a>
							</div>

							<div class="collapse navbar-collapse" id="example-navbar-info">
								<ul class="nav navbar-nav navbar-right">
									<li class="active">
		                            <%= link_to "Articles" , pages_path%>
		                            </li>
		                            <li>
		                                <a href="#pablo">
		                                    Profile
		                                </a>
		                            </li>
		                            <li>
		                                <a href="#pablo">
		                                    Settings
		                                </a>
		                            </li>
		                            <li>
		                            	<%if logged_in? %>
		                            	<%= link_to 'Logout' , logout_path , method: :delete%>
		                            </li>
		                            	<%else%>
		                            <li>
		                            	<%= link_to 'login' ,  login_path%>
		                            </li>
		                            <li>
		                            	<%= link_to 'singup' , singup_path%>	
		                            </li>
		                            	
		                            <%end%>
		                            </li>
								</ul>
							</div>
						</div>
					</nav>
					<!-- End Navbar Info -->